.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0.9;
  z-index: 1000;
}

.hero-content {
  margin-top: 150px !important;
  margin-left: 100px !important;
  color: white;
}
.navbar-brand {
  margin-left: 50px;
}

.hero-image {
  background-image: url(img/3-6.jpg);
  width: 100%;
  height: 800px;
  background-size: cover;
}

.hero-heading h1 {
  font-size: 4.5rem;
}

.hero-sub-heading {
  margin-top: 40px;
  font-size: 2rem;
}

.hero-sec-buttons {
  margin-top: 50px;
}

.here-button-sharp--black {
  min-width: 180px;
  padding: 10px 15px;
  height: 50px;
  color: rgb(247, 14, 14);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid white;
  background: white;
}
.here-button-sharp--black:hover {
  background: rgba(255, 0, 0, 0.493);
  color: white;
}


.css-button-sliding-to-left--rose {
    min-width: 180px;
    padding: 10px 15px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
    background: transparent;
    overflow: hidden;
    border: 2px solid white;
  }
  .css-button-sliding-to-left--rose:hover {
    color: #fff;
    border: 2px solid black !important;
  }
  .css-button-sliding-to-left--rose:hover:after {
    width: 100%;

  }
  .css-button-sliding-to-left--rose:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: black;
  }


.extra {
  background-image: url(img/4-26.jpg);
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.extra .col-lg-12 img {
  margin-top: 160px;
  size: cover;
  opacity: 1;
}
.extra .col-lg-12 img :hover {
  opacity: 2;
}

.extra.card {
  opacity: 1;
}
.feature h1 {
  font-size: 80px;
  font-weight: 600;
  margin-right: 15px;
  margin-top: 40px;
}
.feature img {
  padding-top: 60px;
}
.feature h3 {
  padding-top: 50px;
}
.feature p {
  padding-top: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161623;
}
.card-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}
.conti {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.conti .card {
  position: relative;
  width: 280px;
  height: 330px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.conti .card .card-title {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.conti .card:hover .card-title {
  transform: translateY(0px);
  opacity: 1;
}

.conti .card .card-title h5 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
  padding-top: 5px;
}
.conti .card .card-title p {
  padding-top: 22px;
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.conti .card .card-title i {
  padding-bottom: 10px;
  position: relative;
  color: #fff;
}

.proud .col-lg-12 {
  margin-top: 170px;
  text-align: center;
}
.new {
  background-image: url(img/18-6.jpg);
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 740px;
  margin-top: 100px;
}
.world {
  background-image: url(img/7-23.jpg);
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 830px;
}
.world h1 {
  padding-top: 150px;
  color: white;
  font-size: 55px;
  font-weight: bold;
}
.world p {
  padding-top: 20px;
  font-size: 17px;
  color: #fff;
}
.world img {
  padding-top: 190px;
}
.social {
  padding-top: 230px;
}
.social h1 {
  font-size: 55px;
  font-weight: bold;
}
.social p {
  padding-top: 27px;
  font-size: 17px;
}

.accordian {
  padding: 4rem;
  width: 100%;
}
.accordian .accordian-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordian .accordian-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}
.accordian button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15em;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordian button:hover,
.accordian button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordian button:hover::after,
.accordian button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordian button .accordian-title {
  padding: 1em 1.5em 1em 0;
}
.accordian button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;

  width: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordian button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordian button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordian button[aria-expanded="true"] {
  color: #03b5d2;
}
.accordian button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordian button[aria-expanded="true"] + .accordian-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordian .accordian-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordian .accordian-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.user h1 {
  padding-top: 50px;
  font-size: 60px;
  font-weight: 600;
}
.user p {
  font-size: 30px;
}
.demo {
  padding-top: 90px;
  padding-bottom: 80px;
}

body {
  font-family: "Work Sans", sans-serif;
}
.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  /* text-align: center; */
  width: 50%;
  padding: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #f9f9f9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.girl {
  font: 1em sans-serif;
  background-image: url(img/17-5.jpg);
  background-repeat: no-repeat;
  height: 800px;
  background-size: 100% 100%;
  padding-top: 200px;

}

.girl img {
  margin-bottom: 30px;
  border-radius: 50% 50%;
}
.shoes {
  background-image: url(img/10-22.jpg);
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.shoes h1 {
  padding-top: 190px;
  font-size: 70px;
}
.shoes p {
  font-size: 27px;
  padding-top: 10px;
}
.shoes img {
  padding-right: 400px;
}

.price-area {
  padding: 100px 0px;
}
.price-area p {
  font-size: 20px;
}
.section-title {
  font-size: 85px;
  font-weight: 600;
}

.price-iteam {
  position: relative;
  background: #f2f2f2;
  margin: 40px 0px;
  box-shadow: 0px 0px 20px 0px #3723534a;
  transform: perspective(1px) translate(0);
  transition: all 0.8s;
}

.plan {
  background: #fa5b0f;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
}
.head {
  background: #372353;
  color: #fff;
  padding: 15px;
}
.head h2 {
  font-size: 75px;
  font-weight: 700;
  margin: 0;
}

.head p {
  text-transform: uppercase;
  color: #fff;
}

.service-list {
  padding: 20px 0px;
}
.service-list li {
  padding: 15px 0px;
  margin: 0px 40px;
  border-bottom: 1px solid #372353;
}
.price-iteam button {
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 25px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 35px;
  transition: all 0.6s;
  background: #372353;
}
.price-iteam button:hover {
  background: #0014ff;
}
.price-iteam::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fa5b0f;
  transform: rotateY(90deg);
  transition: all 0.8s;
}

.price-iteam:hover::before {
  transform: rotateY(0deg);
}

.project-counter-wrap ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 350px;
}
 
.project-counter-wrap ul li {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  text-align: center;
  transition: 0.2s linear;
}

.project-counter-wrap ul li:hover {
  transform: scale(1.1);
}
.project-counter-wrap ul li:nth-child(1) {
  background: rgb(233, 176, 71);
  width: 80%;
  height: 330px;
  margin-left: 24px;
}
.project-counter-wrap ul li:nth-child(2) {
  background: rgb(238, 130, 139);
  width: 80%;
  height: 330px;
  margin-left: 38px;
}

.project-counter-wrap ul li:nth-child(3) {
  background: #a2a6d8;
  width: 80%;
  height: 330px;
  margin-left: 38px;
}

.project-counter-wrap ul li:nth-child(4) {
  background: rgb(212, 116, 132);
  width: 80%;
  height: 330px;
  margin-left: 38px;
}
.project-counter-wrap ul li p.number {
  font-size: 40px;
  padding: 30px;
  font-weight: bold;
}
.project-counter-wrap ul li p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  margin: 0;
  padding: 60px;
}
.number h1 {
  font-size: 55px;
  font-weight: bold;
}
/*.project-counter-wrap ul li i{
    background: #ffff;
    border-radius: 50% 50%;*/

.new h1 {
  padding-top: 150px;
  font-size: 55px;
}

.new p {
  padding-top: 20px;
  font-size: 28px;
}

.new button {
  margin-top: 35px;
  margin-right: -40px;
  margin-left: 100px;
}

footer {
  background: #212331;
  padding-top: 200px;
  width: 100%;
}

.top-footer {
  height: 400px;
}

.site-footer {
  background: #0b0b0f;
  color: white !important;
}
.single-box p {
  color: #c4bebe;
  padding-top: 15px;
  line-height: 1.9;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}

.site-footer {
  padding-top: 20px;
}
.site-footer .icons {
  padding-right: 80px;
}
